<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/typicons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/S6Ptkwu_qA.js' %}"></script>
</head>
<body id="particles-js">
    <div class="animated bounceInDown">
        <div class="container">
            <span class="error animated tada" id="msg"></span>
            <form name="form1" method="POST" class="box" onsubmit="return checkStuff()">
                {% csrf_token %}
                <h4>Rest <span>  Your Password</span></h4>
                <h5>Enter your email to reset your password</h5>
                {% for field in form %}
                {{field}}
                {% endfor %}
                <i class="typcn typcn-eye" id="eye" hidden></i>
                <input type="submit" value="Request Password Reset" class="btn1">
            </form>
        </div> 
    </div>
    <script type="text/javascript" src="{% static 'js/js.js' %}"></script>
</body>
</html>