{% extends 'userMain.html' %} {% load static %} {% block content %}
<!-- Jobs Start -->
<!-- <div class="container-xxl py-5"> -->
<div class="container">
    <!-- <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Job Listing</h1> -->
    <div class="job-item p-4 mb-4 mt-4">
        <div class="row g-4">
            <h5>Jobs in Pakistan - Latest Jobs March 2023</h5>
            <p>
                Finding Jobs in Pakistan was never so easy. Search online and find jobs
                in Pakistan. Post resume and apply online for today's latest Jobs from
                companies in Pakistan. Enter Job Title and Job Location to start your
                job search now!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="background-color: #effdf5">
                <div class="card-header">Job Categories</div>
                <ul class="list-group list-group-flush">
                    {% for category in categories %}
                    <li class="list-group-item" style="background-color: #effdf5">
                        <a href="{% url 'catJob' category.id %}">{{category.Name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        {% for job in page_obj %}
                        <div class="job-item p-4 mb-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    <div class="text-start ps-4">
                                        <a href="{% url 'jobDetail' job.id %}">
                                            <h5 class="mb-3">{{job.Title}}</h5>
                                        </a>
                                        <span class="text-truncate me-3">
                                            <i class="fa fa-map-marker-alt text-primary me-2"></i>{{job.Location}}
                                        </span>
                                        <span class="text-truncate me-3"><i
                                                class="far fa-clock text-primary me-2"></i>{{job.Time}}
                                        </span>
                                        <span class="text-truncate me-0"><i
                                                class="far fa-money-bill-alt text-primary me-2"></i>{{job.Salary}}
                                        </span>
                                    </div>
                                </div>
                                <div
                                    class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    <div class="d-flex mb-3">
                                        <a class="btn btn-light btn-square me-3" href=""></a>
                                        <a class="btn btn-primary" href="{{ job.ApplyLink }}">Apply Now</a>
                                    </div>
                                    <!-- <small class="text-truncate"><i
                                            class="far fa-calendar-alt text-primary me-2"></i>Date
                                        Line: 01 Jan, 2045
                                    </small> -->
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                <li class="page-item d-flex me-3">
                                    <a class="page-link me-1" href="?page=1">&laquo; First</a>
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                </li>
                                {% endif %}
                                <span class="current page-link me-3">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                                {% if page_obj.has_next %}
                                <li class="page-item d-flex me-2">
                                    <a class="page-link me-1" href="?page={{ page_obj.next_page_number }}">Next</a>
                                    <a class="page-link me-2" href="?page={{ page_obj.paginator.num_pages }}">Last <i class="fas fa-angle-double-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                                {% else %}
                               
                                {% endif %}
                               
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'UserSide/footer.html' %}
<!-- </div> -->
<!-- Jobs End -->
{% endblock content %}